
body{
  
  margin:0;
  padding:0;
  background-color: rgb(233, 216, 191);
}

h5{
    color:rgb(12, 56, 179);
    text-align:left;
    font-family: Times New Roman;
}
h6{
    color: rgba(3, 3, 14, 0.849);
    font-size: 20px;
    font-family: Georgia ;
}
p{
    color: rgb(19, 20, 22);
    font-size: 18px;
    font-family: Georgia ;
}

#textboxid
{
    height:125px;
    width: 400px;
    font-size:14pt;
}
label {
  display: inline-block;
  width:100px;
  text-align: right;
  vertical-align: top;
  
}

